@page "/authentication/{action}"

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@if (IsLogoutAction)
{
    <p>Signing you out...</p>
}
else
{
    <RemoteAuthenticatorView Action="@Action" />
}
